{% extends 'base.html' %}

{% block content %}

    <div class="row mx-0">
        <div class="col-10 mx-auto">
            <h2 class="mt-3">{{ filename }}</h2>

            <table class="table table-striped mt-3">
                <thead style="background-color: #8a8a8a">
                    <tr id="headers-tr"></tr>
                </thead>
                <tbody id="table-body">

                </tbody>
            </table>

            <button id="load-more" type="button" class="btn btn-primary mt-3">Load More</button>
        </div>
    </div>


    <script>
        let headersTr = document.getElementById('headers-tr')
        let tableBody = document.getElementById('table-body')
        let loadMoreBtn = document.getElementById('load-more')
        let filename = "{{ filename }}"
        let results = [], offset = 0

        loadMoreBtn.addEventListener('click', appendDataToTable)

        fetch(`${window.location.origin}/csv_files/${filename}`)
        .then(response => response.text())
        .then(data => {
            let rows = data.split('\n')
            let headers = rows.shift()
            rows.pop()

            headers.split(',').forEach(header => {
                headersTr.innerHTML += `
                    <td scope="col" class="text-light">${header}</td>
                `
            })

            rows.forEach((row, index) => results.push(csvToArray(row)))
            appendDataToTable(results, offset)
        })

        function appendDataToTable() {
            for (let i = offset; i < Math.min(offset + 10, results.length); i++) {
                tableBody.innerHTML += `
                    <tr id="${i}_tr"></tr>
                `
                let tr = document.getElementById(`${i}_tr`)
                results[i].forEach(cell => {
                    tr.innerHTML += `
                        <td>${cell}</td>
                    `
                })
            }
            offset += 10
            if (offset >= results.length) {
                offset = 0
                loadMoreBtn.removeEventListener('click', appendDataToTable)
                loadMoreBtn.remove()
            }
        }

        function csvToArray(text) {
            let p = '', row = [''], ret = [row], i = 0, r = 0, s = !0, l;
            for (l of text) {
                if ('"' === l) {
                    if (s && l === p) row[i] += l;
                    s = !s;
                } else if (',' === l && s) l = row[++i] = '';
                else if ('\n' === l && s) {
                    if ('\r' === p) row[i] = row[i].slice(0, -1);
                    row = ret[++r] = [l = '']; i = 0;
                } else row[i] += l;
                p = l;
            }
            return ret[0];
        }



        // let fetchesContainer = document.getElementById('fetches')
        // let loadMoreBtn = document.getElementById('load-more')
        // let limit = 10, offset = 0
        // let fetchesUrl = buildFetchUrl(limit, offset)
        //
        // fetchNewData()
        // loadMoreBtn.addEventListener('click', fetchNewData)
        //
        //
        // function buildFetchUrl(limit, offset) {
        //     return window.origin + '/fetch/all' + buildLimitOffsetQueryString(limit, offset)
        // }
        //
        // function buildLimitOffsetQueryString(limit, offset) {
        //     return `?limit=${limit}&offset=${offset}`
        // }
        //
        // function fetchNewData() {
        //     if (!fetchesUrl) return;
        //
        //     fetch(fetchesUrl)
        //     .then(response => response.json())
        //     .then(data => {
        //         if ((data.limit + data.offset) >= data.total) {
        //             fetchesUrl = null
        //             loadMoreBtn.removeEventListener('click', fetchNewData)
        //             loadMoreBtn.remove()
        //         } else {
        //             fetchesUrl = buildFetchUrl(data.limit, data.limit + data.offset)
        //         }
        //
        //         data.items.forEach(item => {
        //             let element = buildCsvFileBlock(item.filename)
        //             fetchesContainer.appendChild(element)
        //         })
        //     })
        // }
        //
        //
        // function buildCsvFileBlock(filename) {
        //     let div = document.createElement('div')
        //     div.classList.add('border', 'p-3')
        //     div.innerHTML = `<a href="/fetches/${filename}">${filename}</a>`
        //     return div
        // }

    </script>

{% endblock content %}