{% extends 'base.html' %}

{% block content %}

    <div class="row mx-0">
        <div class="col-10 mx-auto">
            <div class="d-flex justify-content-between align-items-center mt-3">
                <h2>{{ filename }}</h2>
                <a class="h2 bg-light px-3 py-1 rounded" href="/fetches/{{ filename }}/count">Count</a>
            </div>


            <table class="table table-striped mt-3">
                <thead style="background-color: #8a8a8a">
                    <tr id="headers-tr"></tr>
                </thead>
                <tbody id="table-body">

                </tbody>
            </table>

            <button id="load-more" type="button" class="btn btn-primary mt-3">Load More</button>
        </div>
    </div>

    {% include 'fetch_detail_js.html' %}

    <script>
        let headersTr = document.getElementById('headers-tr')
        let tableBody = document.getElementById('table-body')
        let loadMoreBtn = document.getElementById('load-more')
        let filename = "{{ filename }}"
        let results = [], offset = 0

        loadMoreBtn.addEventListener('click', appendDataToTable)
        fetchCsvFile()
        .then(headers => {
            headers.split(',').forEach(header => {
                headersTr.innerHTML += `
                    <td scope="col" class="text-light">${header}</td>
                `
            })
            appendDataToTable()
        })

        function appendDataToTable() {
            for (let i = offset; i < Math.min(offset + 10, results.length); i++) {
                tableBody.innerHTML += `
                    <tr id="${i}_tr"></tr>
                `
                let tr = document.getElementById(`${i}_tr`)
                results[i].forEach(cell => {
                    tr.innerHTML += `
                        <td>${cell}</td>
                    `
                })
            }
            offset += 10
            if (offset >= results.length) {
                offset = 0
                loadMoreBtn.removeEventListener('click', appendDataToTable)
                loadMoreBtn.remove()
            }
        }

    </script>

{% endblock content %}